header{
  width: 100%;
}
.header-bg{
  padding: 10px 0;
}
.header-list{
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header-img{
  margin-left: 100px;
}
.header-img img{
  padding-top: 3px;
}
.header-text{
  padding-top: 8px;
}
.header-text ul{
  display: flex;
  padding-right: 80px; 
}
.header-text li{
  list-style: none;
  padding: 0 50px;
}
.header-text li a{
  text-decoration: none;
  font-family: noto-sans-extracondensed, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #272727;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.5;
}

#wrapper{
  width: 100%;
  overflow: hidden;
  max-width: 100%;
  width: 1280px;
  margin: 0 auto;
}
/* 暮らしを提案する */
 .message{
   display: flex;
   margin-top: 100px;
 }
 .message-img{
   margin-left: 70px;
 }
 .message-text{
   margin: 200px 0 0 50px;
   font-size: ;
   color: #3B3B3B;
   font-family: dnp-shuei-mincho-pr6n, sans-serif;
   font-weight: 400;
   font-style: normal;
 }
 .title-text{
   font-family: dnp-shuei-mincho-pr6n, sans-serif;
   color: #3B3B3B;
   margin-bottom: 30px;
   font-size: 25px;
   line-height: 53px;
   letter-spacing: 2.5px;
   font-weight: 400;
   font-style: normal;
 }
 .message-text p{
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 0.36px;
 }

/* 豊富なスタイル */
.slide{
  margin-top: 200px;
  text-align: center;
}
 .slider li{
   list-style-type: none;
 }

 /* NEWS */
 .news{
   margin-top: 200px;
   text-align: center;
 }
 .news-items{
   display: flex;
   justify-content: center;
 }
 .new-product{
  margin-right: 50px;
}
.news-product:nth-child(3){
  margin-right: 0;
}
.new-product .hover{
  position: relative;
}
.new-product .hover p{
  background-color: #3E3E3E;
  opacity: 0;
  color: white;
  position: absolute;
  width: 100%;
  height: 130px;
  bottom:0;
  line-height: 130px;
}
.new-product .hover p:hover{
  opacity: 0.8;
  transition:all 0.3s;
}

.more{
  margin-top: 30px;
}
.more a{
  font-size: 21px;
  line-height: 53px;
  letter-spacing: 1.05px;
  color: #3B3B3B;
  text-decoration: none;
  font-family: dnp-shuei-mincho-pr6n, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.more :hover{
  text-decoration: underline;
  transition:all 0.3s;
}
.more:visited{
  color:
   #3B3B3B;
}

 /* お問い合わせフォーム */
.contact{
  margin: 0 auto;
  margin-top: 200px;
  width: 463px;
  font-family: dnp-shuei-mincho-pr6n, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.form{
  margin-bottom: 30px;
  border-radius: 11px;
}
.form .contact-form-text{
  width: 100%;
  opacity: 0.6;
  padding: 5px 10px;
  border-radius: 11px;
  overflow:hidden;
  border: solid 0.8px #707070;
}
.form textarea{
  width: 100%;
  height: 156px;
  border: solid 0.8px #707070;
  opacity: 0.6;
  padding: 5px 10px;
  border-radius: 11px;
  resize: none;
}
.submit-button{
  text-align: center;
  background-color: #D1D1D1;
  width: 111px;
  margin: 0 auto;
  height: 35px;
  border-radius: 20px;
  color: #707070;
  font-size: 15px;
  line-height: 35px;
}

/* フッター */
.footer-bg{
  margin-top: 200px;
  background-color: #918F89;
  padding: 80px;
}
.footer-list{
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer-img{
  margin-left: 100px;
}
.footer-img img{
  padding-top: 50px;
}
.footer-text{
  margin-top: 60px;
}
.footer-list ul{
  display: flex;
  padding-right: 80px; 
}
.footer-text li{
  list-style: none;
  padding: 0 50px;
}
.footer-text li a{
  font-family: noto-sans-extracondensed, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

/* Q＆Aページ */
.question{
  width: 474px;
  margin: 0 auto;
  margin-top: 100px;
}
.question .title{
  text-align: center;
}
.question-box {
  margin: 2em 0;/*前後の余白*/
  padding: 0;
}
/*ボタン装飾*/
.question-box label {
  padding: 15px;
  cursor :pointer;
}
/*チェックは見えなくする*/
.question-box input {
  display: none;
}
/*中身を非表示にしておく*/
.question-box .hidden_show {
  height: 0;
  padding: 0px;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}
/*クリックで中身表示*/
.question-box input:checked ~ .hidden_show {
  padding: 10px 0px;
  height: auto;
  opacity: 1;
}
.question-box .question-title{
  font-family: noto-sans-extracondensed, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #3B3B3B;
  font-size: 16px;
  line-height: 53px;
  letter-spacing: 1.6px;
}
.hidden_show p{
  font-family: noto-sans-extracondensed, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #3B3B3B;
  font-size: 12px;
  letter-spacing: 1.2px;
  padding-left: 20px;
}

